<header>
  <!-- Header Top -->
  <div class="header-top">
    <div class="container">
      <ul class="header-top-connect">
        <li>
          <a href="tel: 01-8937402"
            ><img src="../../../../assets/img/svg/Phone.svg" alt="image" />
            (+234) 01-8937402
          </a>
        </li>
        <!-- <li>
          <img src="../../../../assets/img/svg/lang.svg" alt="image" />
          English
        </li> -->
        <li class="email-big">
          <img src="../../../../assets/img/svg/mail.svg" alt="image" />
          Webmail
        </li>
      </ul>
      <ul class="header-top-socials">
        <li class="email-mob">
          <a href=""
            ><img src="../../../../assets/img/svg/mail.svg" alt="image"
          /></a>
        </li>
        <li>
          <a href=""
            ><img src="../../../../assets/img/svg/fb.svg" alt="image"
          /></a>
        </li>
        <li>
          <a href=""
            ><img src="../../../../assets/img/svg/ig.svg" alt="image"
          /></a>
        </li>
        <li>
          <a href=""
            ><img src="../../../../assets/img/svg/tw.svg" alt="image"
          /></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Header Bottom -->
  <div class="header-bottom" [ngStyle]="{ 'background-image': bgImage }">
    <div class="container">
      <span routerLink="/" class="logo">
        <img
          src="../../../../assets/img/svg/logo.svg"
          alt="image"
          [class.filter]="isActive"
        />
      </span>
      <ul
        class="nav-list"
        [class.open-menu]="hamClick"
        [class.white-color]="isActive"
      >
        <li
          class="nav-item"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
        >
          Home
        </li>
        <li
          class="nav-item"
          routerLink="/about"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          About Us
        </li>
        <li
          class="nav-item"
          routerLink="/services"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          Services
        </li>
        <li
          class="nav-item"
          routerLink="/team"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          The Team
        </li>
        <li
          class="nav-item"
          routerLink="tips"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          Life-enrinching Tips
        </li>
        <li
          class="nav-item"
          routerLink="/contact"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          Contact
        </li>
        <li class="">
          <img src="../../../../assets/img/svg/search.svg" alt="image" />
        </li>
      </ul>

      <!-- Hamburger menu -->
      <div
        class="toggle-menu"
        (click)="openMenu()"
        [class.open-menu]="hamClick"
      >
        <span class="menu-bar"></span>
      </div>
    </div>

    <!-- Header Hero -->
    <div class="header-hero" [class.show]="isActive">
      <div>
        <ng-content select=".header-hero-content"></ng-content>
      </div>
    </div>
  </div>
</header>
