li {
  cursor: pointer;
}
.header-top .container,
.header-top ul,
.header-top-connect li,
.header-top-connect li a,
.header-bottom .container,
.header-bottom .nav-list {
  display: flex;
  align-items: center;
}
/* Header top starts */
.header-top {
  background-color: var(--green-color);
  color: var(--white-color);
  height: 3rem;
  background: linear-gradient(
    143deg,
    var(--primary-color) 50%,
    var(--secondary-color) calc(50% + 2px)
  );
}
.header-top .container {
  justify-content: space-between;
  height: 100%;
}
.header-top ul li {
  font-size: 14px;
}
.header-top ul li:not(:last-child) {
  margin-right: 1rem;
}
.header-top ul li a {
  color: var(--white-color);
}
.header-top-connect li img {
  margin-right: 0.5rem;
}
.header-top-socials {
  z-index: 1;
}
.header-top-socials .email-mob {
  display: none;
}
/* Header top ends */

/* Header bottom starts */
.header-bottom .container,
.logo,
.nav-list {
  height: 5rem;
}
.header-bottom .container {
  justify-content: space-between;
}
.logo img {
  width: 200px;
  height: auto;
}
.logo img.filter {
  filter: brightness(10);
}
.nav-list .nav-item {
  line-height: 5rem;
}
.nav-list .nav-item:not(:last-child) {
  margin-right: 1.5rem;
}
.nav-list .nav-item {
  position: relative;
}
.nav-list .nav-item.active::after {
  top: 3.2rem;
  background-color: var(--primary-color);
}

/* Drop down starts */
.drop-down {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-item:hover .drop-down {
  opacity: 1;
  visibility: visible;
}
.drop-down .sub-nav-item {
  line-height: normal;
}
.drop-down .sub-nav-item a {
  color: var(--white-color);
}
@media screen and (min-width: 870px) {
  .drop-down {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    border: 1px solid var(--green-color);
    background-color: var(--white-color);
    z-index: 100;
  }
  .drop-down .sub-nav-item {
    padding: 0.5rem;
    font-size: 14px;
    border-bottom: 2px solid var(--grey-color);
  }
  .drop-down .sub-nav-item a {
    display: inline-block;
    color: var(--secondary-color);
    transition: 0.2s all ease-in;
  }
  .drop-down .sub-nav-item a:hover {
    color: var(--green-color);
    transform: translateX(5px);
  }
}
/* Drop down ends */
/* Header bottom ends */

/* HamBurger starts */
.toggle-menu {
  cursor: pointer;
  margin-top: -6px;
  display: none;
}
.toggle-menu .menu-bar {
  width: 1rem;
  height: 2px;
  background-color: var(--secondary-color);
  display: inline-block;
  position: relative;
  transform: translateX(-1rem);
  transition: background-color 0.5s;
}
.toggle-menu .menu-bar::before,
.toggle-menu .menu-bar::after {
  content: "";
  position: absolute;
  height: inherit;
  background-color: inherit;
  transition: all 0.5s;
}
.toggle-menu .menu-bar::before {
  width: 2rem;
  top: -0.6rem;
}
.toggle-menu .menu-bar::after {
  width: 2rem;
  top: 0.6rem;
}
.open-menu .menu-bar {
  background-color: transparent !important;
}
.open-menu .menu-bar::before {
  top: 0 !important;
  transform: rotate(135deg);
  background-color: var(--secondary-color) !important;
}
.open-menu .menu-bar::after {
  top: 0 !important;
  transform: rotate(-135deg);
  background-color: var(--secondary-color) !important;
}

/* HamBurger ends */

/* Media query starts */
@media screen and (max-width: 870px) {
  .header-top ul li {
    font-size: 12px;
  }
  .header-top-connect .email-big {
    display: none;
  }
  .header-top-socials .email-mob {
    display: block;
  }
  .nav-list {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    box-shadow: 0 20px 25px rgba(255, 255, 255, 0.26);
    transition: 0.5s;
    z-index: 100;
    display: grid !important;
  }
  .nav-list.open-menu {
    left: 0;
  }
  .toggle-menu {
    display: block;
  }
}
/* Media query ends */
