<!-- <div class="bg">
  <div>
    <h1>About Us</h1>
  </div>
</div> -->
<!-- About Vison Mission -->
<section class="about about-vm sect">
  <div class="container fm-flex-content">
    <div class="fm-flex-details">
      <div>
        <p>
          First Marina Trust Limited is a Central Bank of Nigeria licensed
          Finance Company. The company, privately owned by Nigerians, commenced
          operations in 1989.
        </p>
      </div>
      <div>
        <h3 class="fm-text fm-sect-text">Our Vision</h3>
        <p>
          To be a world class provider of personalized financial services to
          discerning individuals and emerging businesses while creating value
          for all stakeholders.
        </p>
      </div>
      <div>
        <h3 class="fm-text fm-sect-text">Our Mission</h3>
        <p>
          To be the leading Finance Company in Nigeria, continuously extending
          the frontiers of personalized financial services delivery.
        </p>
      </div>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/about/Group 19.png" alt="" />
    </div>
  </div>
</section>

<!-- About Asset Base -->
<section class="about about-ab sect">
  <div class="container fm-flex-content">
    <div class="fm-flex-details">
      <h3 class="fm-text fm-sect-text">Our Asset Base</h3>
      <p>
        First Marina Trust Limited commenced operations in 1989. Our asset
        growth is driven by huge increases in investments in our Commercial
        Papers, which is due to the continuous confidence we have enjoyed from
        our numerous customers coupled with our pro-active Management style.
        Presently, our asset base is in excess of N12 billion.
      </p>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/about/Group 21.png" alt="" />
    </div>
  </div>
</section>

<!-- About Core values -->
<section class="about-cv sect">
  <div class="container">
    <div class="about-cv-card">
      <div class="about-cv-item">
        <img src="../../../assets/img/about/Ellipse 1.png" alt="" />
        <div>
          <h3 class="fm-text fm-sect-text">Integrity</h3>
          <p>
            Not compromising professionalism. Steadfastness in upholding the
            ethics of the profession.
          </p>
        </div>
      </div>
      <div class="about-cv-item">
        <img src="../../../assets/img/about/Ellipse 2.png" alt="" />
        <div>
          <h3 class="fm-text fm-sect-text">Commitment</h3>
          <p>Commitment to the highest standards.</p>
        </div>
      </div>
      <div class="about-cv-item">
        <img src="../../../assets/img/about/Ellipse 3.png" alt="" />
        <div>
          <h3 class="fm-text fm-sect-text">Passion</h3>
          <p>
            Exhibiting passion in our constant quest for perfection, our
            competitiveness in the marketplace, the speed and responsiveness of
            our services.
          </p>
        </div>
      </div>
      <div class="about-cv-item">
        <img src="../../../assets/img/about/Ellipse 4.png" alt="" />
        <div>
          <h3 class="fm-text fm-sect-text">Customer Integrity</h3>
          <p>
            Creating bonds with all our customers by seeking to exceed their
            expectations at all times.
          </p>
        </div>
      </div>
      <div class="about-cv-item">
        <img src="../../../assets/img/about/Ellipse 5.png" alt="" />
        <div>
          <h3 class="fm-text fm-sect-text">
            Open, Employee-Friendly Environment
          </h3>
          <p>
            Deliberately promoting a cordial work atmosphere where there are no
            master-servant relationships; encourages open communication; eschews
            politics, tribalism and religious bias.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
