.bg-image {
  background-image: url("../../../assets/img/services/Rectangle31.png");
}
.yes {
  margin: auto;
  color: var(--white-color);
}

.services-card .fm-text::after {
  background-color: var(--secondary-color);
}

.fm-flex-content {
  flex-direction: row-reverse;
}

.services-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.services-item {
  background-color: #e2ffef;
  padding: 1rem;
  border-radius: var(--border-radius);
}
.services-item h5 {
  margin-bottom: 1.5rem;
}
