<!-- Header Hero -->
<app-header [isActive]="isActive" [bgImage]="bgImage">
  <div class="header-hero-content">
    <h1>Services</h1>
  </div>
</app-header>

<!-- Services  -->
<section class="services sect">
  <div class="container fm-flex-content">
    <div class="fm-flex-details">
      <h3 class="fm-text fm-sect-text">What we do</h3>
      <p>
        Our business focus is the management of private individual and corporate
        funds for maximum returns both in short and long terms. Given our
        experience in the past 32 years, we are able to identify and access
        lucrative investments and manage their inherent risks successfully.
      </p>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/services/Group 21.png" alt="image" />
    </div>
  </div>
</section>

<section class="sect">
  <div class="container services-card">
    <div class="services-item">
      <h5 class="fm-text">Finance</h5>
      <p>
        We specialize in financing Local Purchasing Order, Working Capital
        requirements, Import Finance.
      </p>
    </div>
    <div class="services-item">
      <h5 class="fm-text">Projects</h5>
      <p>
        We finance projects - Large, Medium and Small. We have over the years
        financed several projects and have become one of Nigeria’s best project
        finance and management companies.
      </p>
    </div>
    <div class="services-item">
      <h5 class="fm-text">Investments</h5>
      <p>
        We have several products in our investment portfolio such as Money
        Market instruments, Investment in Blue-chip companies and other viable
        products. We also operate in the Venture Capital sphere.
      </p>
    </div>
    <div class="services-item">
      <h5 class="fm-text">Financial Advisory</h5>
      <p>
        We have developed expertise in Financial Advisory for individuals,
        corporations and governments which want to play in emerging markets. Our
        Financial Advisory Services extends to Corporate Finance and Structured
        Finance Solutions.
      </p>
    </div>
  </div>
</section>
