/* Hero Starts */
.hero {
  background-position: center;
  background-size: cover;
  color: var(--white-color);
  padding: 5rem 0;
}
.hero-details {
  animation: slideIn 2s cubic-bezier(0.5, 0, 0, 1);
}
.hero-details h1 {
  margin: 1rem 0;
  line-height: 45px;
}
.hero-details .btn {
  margin-top: 1rem;
  animation: slideIn 3s cubic-bezier(0.5, 0, 0, 1);
}
/* Hero ends */

/* About starts */
.about-details ul {
  margin: 1.5rem 0 2rem 0;
}
.about-details ul li {
  display: flex;
  align-items: center;
}
.about-details ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.about-details ul li img {
  margin-right: 1rem;
}

/* About ends */

.save {
  background-image: url("../../../assets/img/bg-vector.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

/* App-download starts */
.app-download {
  background-image: url("../../../assets/img/Group_26.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--white-color);
}
.app-download .container {
  padding: 5rem 0;
  text-align: center;
}
.app-download p {
  margin: 1.5rem 0 2rem 0;
}
.app-download .btn {
  background-color: var(--tertiary-color);
  color: var(--white-color);
}

/* App-download ends */

/* Media queries starts */
@media only screen and (min-width: 870px) {
  .hero-details {
    width: 60%;
  }
  .app-download .container {
    width: 50%;
    margin: auto;
  }
}
/* Media queries ends */

/* Keyframes */
@keyframes slideIn {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -80, 0, 1);
    opacity: 0;
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
  }
}
