<!-- hero -->
<section class="hero">
  <div class="container hero-content">
    <div class="hero-details">
      <h5 class="uc">Welcome to first marina</h5>
      <h1>
        World Class Provider of <br />
        Personalized Financial Services
      </h1>
      <p>
        First Marina Trust Limited commenced operations in 1989. Our asset
        growth is driven by huge increases in investments in our Commercial
        Papers, which is due to the continuous confidence we have enjoyed from
        our numerous customers.
      </p>
      <button href="#" class="btn prim-btn">Read More</button>
    </div>
  </div>
</section>

<!-- About -->
<section class="about sect">
  <div class="container fm-flex-content row-reverse">
    <div class="about-details fm-flex-details">
      <h2 class="fm-text fm-sect-text">Who we are</h2>
      <p>
        First Marina Trust Limited commenced operations in 1989. Our asset
        growth is driven by huge increases in investments in our Commercial
        Papers, which is due to the continuous confidence we have enjoyed from
        our numerous customers.
      </p>
      <ul>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="image" />
          <p>Integrity</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="image" />
          <p>Professionalism</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="image" />
          <p>Passion</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="image" />
          <p>Customer Service Excellence</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="image" />
          <p>Employee Friendly Environment</p>
        </li>
      </ul>
      <button class="btn prim-btn">Read More</button>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/home/4.png" alt="image" />
    </div>
  </div>
</section>

<!-- About -->
<section class="about sect">
  <div class="container fm-flex-content">
    <div class="about-details fm-flex-details">
      <h2 class="fm-text fm-sect-text">
        Get a <span class="yc">Banking Service</span> that
        <span>Suits You!</span>
      </h2>
      <p class="paragh">
        At First Marina, we belive that the beauty of life in the liitle things
        that gives us a better expression of ourselves, makes us more social and
        connect emotionally.
      </p>
      <button class="btn prim-btn">Get started</button>
    </div>
    <div class="fm-flex-img">
      <img
        src="../../../assets/img/Lifesavers_Using_Computer.svg"
        alt="image"
      />
    </div>
  </div>
</section>

<!-- About -->
<section class="about save sect">
  <div class="container fm-flex-content row-reverse">
    <div class="about-details fm-flex-details">
      <h2 class="fm-text fm-sect-text">Let your money work for you.</h2>
      <p class="paragh">
        Get more of your savings with great rates. At First Marina, we are more
        concerned about our customers savings.
      </p>
      <button class="btn sec-btn">Save Now</button>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/Mask_Group.svg" alt="image" />
    </div>
  </div>
</section>

<!-- App Download -->
<section class="app-download sect">
  <div class="container">
    <h2>Start an Awesome Financial Journey</h2>
    <p>
      At First marina, we are concerned about making our customers financial
      experience, an awesome one.
    </p>
    <button class="btn">
      <img src="../../../assets/img/svg/Google Play.svg" alt="image" />
      Download App
    </button>
  </div>
</section>
