<!-- hero -->
<section class="hero sect" id="hero">
  <div class="container hero-content">
    <div class="sect-heading hero-details">
      <h5 class="uc">Welcome to first marina</h5>
      <h1>
        World Class Provider of <br />
        Personalized Financial Services
      </h1>
      <p>
        First Marina Trust Limited commenced operations in 1989. Our asset
        growth is driven by huge increases in investments in our Commercial
        Papers, which is due to the continuous confidence we have enjoyed from
        our numerous customers.
      </p>
      <button href="#" class="btn sec-btn">Read More</button>
    </div>
    <div class="hero-img">
      <img src="../../../assets/img/Group 8 1.png" alt="" />
    </div>
  </div>
</section>
