<!-- Header Hero -->
<app-header></app-header>

<!-- hero -->
<section class="hero sect">
  <div class="container hero-content">
    <div class="hero-details">
      <h5 class="uc">Welcome to first marina</h5>
      <h1>
        World Class Provider of <br />
        Personalized Financial Services
      </h1>
      <p>
        First Marina Trust Limited commenced operations in 1989. Our asset
        growth is driven by huge increases in investments in our Commercial
        Papers, which is due to the continuous confidence we have enjoyed from
        our numerous customers.
      </p>
      <button href="#" class="btn sec-btn">Read More</button>
    </div>
    <div class="hero-img">
      <img src="../../../assets/img/home/hero-img.png" alt="" />
    </div>
  </div>
</section>

<!-- Services -->
<section class="services sect">
  <div class="container">
    <div class="services-card">
      <div class="services-item">
        <img src="../../../assets/img/home/1.png" alt="" />
        <h3 class="fm-text fm-sect-text">Finance</h3>
        <p>
          We specialize in financing projects – big, medium, and small. We also
          finance Local Purchase Order and Working Capital Requirements.
        </p>
        <button class="btn sec-btn">Read More</button>
      </div>
      <div class="services-item">
        <img src="../../../assets/img/home/2.png" alt="" />
        <h3 class="fm-text fm-sect-text">Projects</h3>
        <p>
          We have executed several projects including Real Estate Development
          over the years and have become one of Nigeria’s best project finance
          and management companies.
        </p>
        <button class="btn sec-btn">Read More</button>
      </div>
      <div class="services-item">
        <img src="../../../assets/img/home/3.png" alt="" />
        <h3 class="fm-text fm-sect-text">Investments</h3>
        <p>
          We have several products in our investment portfolio such as Money
          Market instruments, Investment in Blue Chip companies and other viable
          products. We also operate in the Venture Capital sphere.
        </p>
        <button class="btn sec-btn">Read More</button>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section class="about sect">
  <div class="container fm-flex-content">
    <div class="about-details fm-flex-details">
      <h3 class="fm-text fm-sect-text">Who we are</h3>
      <p>
        First Marina Trust Limited commenced operations in 1989. Our asset
        growth is driven by huge increases in investments in our Commercial
        Papers, which is due to the continuous confidence we have enjoyed from
        our numerous customers.
      </p>
      <ul>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="" />
          <p>Integrity</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="" />
          <p>Professionalism</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="" />
          <p>Passion</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="" />
          <p>Customer Service Excellence</p>
        </li>
        <li>
          <img src="../../../assets/img/svg/ribbon.svg" alt="" />
          <p>Employee Friendly Environment</p>
        </li>
      </ul>
      <button class="btn prim-btn">Read More</button>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/home/4.png" alt="" />
    </div>
  </div>
</section>
