.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-details {
  flex-basis: 55%;
}
.hero-details h5 {
  color: var(--primary-color);
}
.hero-details h1 {
  margin: 1rem 0;
  line-height: 45px;
}
.hero-details .btn {
  margin-top: 1rem;
}
.hero-img {
  flex-basis: 40%;
}
.hero-img img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 870px) {
  .hero-content {
    display: grid;
    grid-gap: 2rem;
  }
  .hero-img {
    display: none;
  }
}
