<!-- Hero -->
<div class="hero-area">
  <div>
    <h1>Investments</h1>
  </div>
</div>

<ng-container *ngIf="content?.length > 0; else noContent">
  <section class="sect" *ngFor="let i of content">
    <div class="container fm-flex-content">
      <div class="fm-flex-details">
        <h2 class="fm-text fm-sect-text">{{ i.name }}</h2>
        <p class="paragh">
          {{ i.description }}
        </p>
        <button class="btn sec-btn">Get Started</button>
      </div>
      <div class="fm-flex-img">
        <picture class="fm-flex-img-border" *ngFor="let childItem of i.images">
          <img [src]="childItem.url" alt="image" />
        </picture>
      </div>
    </div>
  </section>
</ng-container>

<!-- If the List is empty -->
<ng-template #noContent>
  <p style="text-align: center; font-weight: 500">Loading!</p>
</ng-template>
