<!-- Hero -->
<div class="hero-area">
  <div>
    <h1>Investments</h1>
  </div>
</div>

<section class="sect">
  <div class="container fm-flex-content">
    <div class="fm-flex-details">
      <h2 class="fm-text fm-sect-text">Best Investments Company</h2>
      <p class="paragh">
        We have several products in our investment portfolio such as Money
        Market instruments, Investment in Blue-chip companies and other viable
        products. We also operate in the Venture Capital sphere.
      </p>
      <button class="btn prim-btn">Get Started</button>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/investments/Group56.png" alt="" />
    </div>
  </div>
</section>

<section class="sect">
  <div class="container fm-flex-content row-reverse">
    <div class="fm-flex-details">
      <h2 class="fm-text fm-sect-text">
        Investing right with <span class="gc">First Marina</span>
      </h2>
      <p class="paragh">
        At First Marina, we are concerned about our clients satisfaction about
        investing with us. We provide the best investments plans across the
        globe.
      </p>
      <button class="btn sec-btn">Get Started</button>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/investments/Group57.png" alt="" />
    </div>
  </div>
</section>
