<footer>
  <div class="container">
    <div class="about">
      <h4 class="fm-text">Who are we</h4>
      <p>
        First Marina Trust Limited commenced operations since 1989. Our asset
        growth is driven by huge increases in investments in our Commercial
        Papers, which is due to the continuous confidence we have enjoyed from
        our numerous customers and with our pro-active management style.
        Presently, our asset base is over N12 billion.
      </p>
    </div>
    <div class="posts">
      <h4 class="fm-text">Popular Posts</h4>
      <ul>
        <li>Who we are</li>
        <li>About our company</li>
        <li>Our latest news</li>
        <li>Our services</li>
      </ul>
    </div>
    <div class="proj">
      <h4 class="fm-text">Project Porfolio</h4>
      <div class="proj-content">
        <a [href]="i.src" *ngFor="let i of portfolios">
          <img [src]="i.src" alt="image" />
        </a>
        <a href="">
          <img src="../../../../assets/img/3.png" alt="image" />
        </a>
        <a href="">
          <img src="../../../../assets/img/2.png" alt="image" />
        </a>
        <a href="">
          <img src="../../../../assets/img/3.png" alt="image" />
        </a>
        <!-- <a href="">
          <img src="../../../../assets/img/2.png" alt="image" />
        </a>
        <a href="">
          <img src="../../../../assets/img/1.png" alt="image" />
        </a> -->
      </div>
    </div>
    <div class="contact">
      <h4 class="fm-text">Conatct Us</h4>
      <div class="contact-details">
        <div>
          <p class="contact-details-heading">Address</p>
          <p>
            First Marina Trust Limited, 16 Balarabe Musa Crescent Off Samuel
            Manuwa Road, Victoria Island Lagos
          </p>
        </div>
        <div>
          <p class="contact-details-heading">Phone Number</p>
          <p>(+234) 809 086 5708</p>
        </div>
        <div>
          <p class="contact-details-heading">E-mail Address</p>
          <p>info@firstmarinatrust.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>
