<footer>
  <div class="container">
    <!-- ABout -->
    <div class="about">
      <h4 class="fm-text">Who are we</h4>
      <p>
        First Marina Trust Limited commenced operations since 1989. Our asset
        growth is driven by huge increases in investments in our Commercial
        Papers, which is due to the continuous confidence we have enjoyed from
        our numerous customers and with our pro-active management style.
        Presently, our asset base is over N12 billion.
      </p>
    </div>

    <!-- Posts -->
    <div class="posts">
      <h4 class="fm-text">Popular Posts</h4>
      <ul>
        <!-- <li>Who we are</li> -->
        <li routerLink="/about">About our company</li>
        <li routerLink="/services">Our services</li>
        <li>
          <a
            href="http://www.forbes.com/sites/celinnedacosta/2016/08/31/how-changing-your-definition-of-success-makes-you-successful/#599b37333e73"
            >Life-enriching tips</a
          >
        </li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="contact">
      <h4 class="fm-text">Conatct Us</h4>
      <div class="contact-details">
        <div>
          <p>
            First Marina Trust Limited, 16 Balarabe Musa Crescent Off Samuel
            Manuwa Road, Victoria Island Lagos
          </p>
        </div>
        <div>
          <p>(+234) 809 086 5708</p>
        </div>
        <div>
          <p>info@firstmarinatrust.com</p>
        </div>
      </div>
    </div>

    <!-- Socials -->
    <div class="social">
      <h4 class="fm-text">Social</h4>
      <div class="social-content">
        <a href="">
          <img src="../../../../assets/img/svg/ft-fb.svg" alt="image" />
        </a>
        <a href="">
          <img src="../../../../assets/img/svg/ft-li.svg" alt="image" />
        </a>
        <a href="">
          <img src="../../../../assets/img/svg/ft-tw.svg" alt="image" />
        </a>
        <a href="">
          <img src="../../../../assets/img/svg/ft-ig.svg" alt="image" />
        </a>
      </div>
    </div>
  </div>

  <p class="copyright">© 2016 First Marina. All Rights Reserved.</p>
</footer>
