h4 {
  color: #7cbf31;
  margin-bottom: 2rem;
}
h4.fm-text::after {
  background-color: #7cbf31;
}
ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
ul li {
  cursor: pointer;
  transition: 0.2s all ease-in;
}
ul li:hover {
  color: #7cbf31;
  transform: translateX(5px);
}
a {
  color: var(--white-color);
  transition: 0.2s all ease-in;
}
a:hover {
  color: #7cbf31;
}

footer {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 5rem 0 2rem 0;
  /* border-top-right-radius: 5rem; */
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.social-content a:not(:last-child) {
  margin-right: 1rem;
}
.contact-details {
  display: grid;
  grid-gap: 1rem;
}

footer .copyright {
  text-align: center;
  margin-top: 3rem;
}
