<!-- Hero -->
<div class="hero-area">
  <div>
    <h1>Projects</h1>
  </div>
</div>

<section class="sect">
  <div class="container fm-flex-content">
    <div class="fm-flex-details">
      <h2 class="fm-text fm-sect-text">Projects</h2>
      <p class="paragh">
        We finance projects - Large, Medium and Small. We have over the years
        financed several projects and have become one of Nigeria’s best project
        finance and management companies.
      </p>
      <button class="btn sec-btn">Get Started</button>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/projects/3d-flame-249.svg" alt="" />
    </div>
  </div>
</section>

<section class="sect">
  <div class="container fm-flex-content row-reverse">
    <div class="fm-flex-details">
      <h2 class="fm-text fm-sect-text">Project Builders</h2>
      <p class="paragh">
        At First Marina, we are specialized on building projects in all aspects
        of the economy, including real estate management, financial and
        management companies.
      </p>
      <button class="btn prim-btn">Get Started</button>
    </div>
    <div class="fm-flex-img">
      <img src="../../../assets/img/projects/3d-flame-292.svg" alt="" />
    </div>
  </div>
</section>

<!-- Services -->
<section class="services sect">
  <div class="container">
    <div class="services-card">
      <div class="services-item">
        <img src="../../../assets/img/home/1.png" alt="" />
        <h3 class="fm-text fm-sect-text">Finance</h3>
        <p>
          We specialize in financing projects – big, medium, and small. We also
          finance Local Purchase Order and Working Capital Requirements.
        </p>
        <button class="btn sec-btn">Read More</button>
      </div>
      <div class="services-item">
        <img src="../../../assets/img/home/2.png" alt="" />
        <h3 class="fm-text fm-sect-text">Projects</h3>
        <p>
          We have executed several projects including Real Estate Development
          over the years and have become one of Nigeria’s best project finance
          and management companies.
        </p>
        <button class="btn sec-btn">Read More</button>
      </div>
      <div class="services-item">
        <img src="../../../assets/img/home/3.png" alt="" />
        <h3 class="fm-text fm-sect-text">Investments</h3>
        <p>
          We have several products in our investment portfolio such as Money
          Market instruments, Investment in Blue Chip companies and other viable
          products. We also operate in the Venture Capital sphere.
        </p>
        <button class="btn sec-btn">Read More</button>
      </div>
    </div>
  </div>
</section>
